In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

In [4]:
tweets=pd.read_csv("train.csv",encoding="latin-1")
test=tweets.sample(10)
test

          id  label                                              tweet
6887    6888      0  the worst thing about quitting smoking is the ...
31266  31267      0  i am thankful for having a home. #thankful #po...
23436  23437      0   i couldn't have said it better myself!   friday
23759  23760      0           secrets of a   #marriage and a  #family
13735  13736      0  @user is wishing all you proud fathers out the...
4798    4799      0  @user @user i've watched the demise of the ash...
20414  20415      0   @user this will make your day happier! find m...
15718  15719      0  a song for my late stepdad - (original song)  ...
22261  22262      0  understand this, my dear brothers and sisters:...
3948    3949      0  happy dayy Ã°ÂÂÂ,like a boss jaja  #fashion...

In [5]:
tweets.shape

(31962, 3)

In [6]:
tweets.label.value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [7]:
tweets.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [8]:
tweets[tweets.duplicated()]

Empty DataFrame
Columns: [id, label, tweet]
Index: []

In [9]:
def clean(x):
    x=' '.join(re.sub("(@[A-Za-z0-9]+)|([^A-Za-z0-9'']+)|(\w+:\/\/\S+)"," ",x).split())
    return x

In [10]:
test.tweet=test.tweet.apply(clean)

In [11]:
pd.set_option('max_colwidth', 300)
test.tweet

6887         the worst thing about quitting smoking is the fact i wanna eat everything including people's heads nicotinewithdrawal
31266                                                                            i am thankful for having a home thankful positive
23436                                                                                 i couldn't have said it better myself friday
23759                                                                                           secrets of a marriage and a family
13735                                                                       is wishing all you proud fathers out there fathers day
4798                                   user i've watched the demise of the ash grove daily for the last 14 years whoshotjoecollins
20414                                                                          user this will make your day happier find more cute
15718                                  a song for my late stepdad original song via user blues singer sognwriter newmusic new song
22261    understand this my dear brothers and sisters you must all be quick to listen slow to speak and slow to get angry saturday
3948                                                   happy dayy like a boss jaja fashion style like fashionblogger fblogger aldo
Name: tweet, dtype: object

In [12]:
def check(x):
    print(bool(re.match("[^A-Za-z0-9\S\-'']+",x)))

In [13]:
test.tweet.apply(check)

False
False
False
False
False
False
False
False
False
False

6887     None
31266    None
23436    None
23759    None
13735    None
4798     None
20414    None
15718    None
22261    None
3948     None
Name: tweet, dtype: object

In [14]:
x="@peter I really don't love that shirt at #Macy. http://bit.ly//WjdiW4"
' '.join(re.sub("(@[A-Za-z0-9]+)|([#]+)|(\w+:\/\/\S+)"," ",x).split())

"I really don't love that shirt at Macy."