In [2]:
import numpy as np
import pandas as pd
import re

In [1]:
# TFIDF Vectorizer

# Import TfIDF Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

#Initialize and object for the TFIDF Vectorizer
tf= TfidfVectorizer()

In [3]:
tweets=pd.read_csv("train.csv")

In [4]:
y=tweets.label

In [5]:
xt=tf.fit_transform(tweets.tweet)

In [6]:
from sklearn import naive_bayes

In [7]:
clf=naive_bayes.MultinomialNB()

In [8]:
clf.fit(xt,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [9]:
ytp=clf.predict(xt)

In [10]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [11]:
accuracy_score(y,ytp)

0.9417433201927289

In [12]:
X_test=pd.read_csv("test.csv")
X_test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [13]:
result=pd.read_csv("result.csv")
result.head()

      id  label
0  31963      0
1  31964      0
2  31965      0
3  31966      0
4  31967      0

In [14]:
Xtt=tf.transform(X_test.tweet)

In [15]:
y_test=clf.predict(Xtt)
y_test.shape

(17197,)

In [16]:
y1=result.label

In [17]:
accuracy_score(y1,y_test)

0.9549340001162994

In [18]:
confusion_matrix(y1,y_test)

array([[16267,    15],
       [  760,   155]], dtype=int64)

In [19]:
from sklearn.naive_bayes import BernoulliNB

In [20]:
mnb=BernoulliNB()

In [21]:
mnb.fit(xt,y)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [24]:
y2=mnb.predict(xt)

In [29]:
accuracy_score(y2,y)

0.9559789750328516

In [31]:
y3=mnb.predict(Xtt)

In [33]:
accuracy_score(y3,result.label)

0.9583066813979182