# Question 1

In [2]:
import numpy as np
import pandas as pd

l1=[int(i) for i in input().split()]
l2=[int(i) for i in input().split()]
r=pd.Series(l1)
s=pd.Series(l2)
t=r+s
print('{} + {} = {}'.format(l1,l2,list(t)))

2 4 5 6 8
 1 3 5 7 9
[2, 4, 5, 6, 8] + [1, 3, 5, 7, 9] = [3, 7, 10, 13, 17]

### subtraction

In [11]:
t=r-s
print('{} - {} = {}'.format(l1,l2,list(t)))

[2, 4, 6, 8, 10] - [1, 3, 5, 7, 9] = [1, 1, 1, 1, 1]

### multiplication

In [12]:
t=r*s
print('{} * {} = {}'.format(l1,l2,list(t)))

[2, 4, 6, 8, 10] * [1, 3, 5, 7, 9] = [2, 12, 30, 56, 90]

### division

In [13]:
t=r/s
print('{} / {} = {}'.format(l1,l2,list(t)))

[2, 4, 6, 8, 10] / [1, 3, 5, 7, 9] = [2.0, 1.3333333333333333, 1.2, 1.1428571428571428, 1.1111111111111112]

# Question 2:

In [3]:
l=np.random.uniform(1,21,20)
print(l)
sr=pd.Series(l)
dec=[sr.min(),sr.quantile(0.25),sr.median(),sr.quantile(0.75),sr.max()]
dec

[12.74954826  6.49111612 10.21431647  9.24779245  2.02288506 11.01313363
  1.88038512 10.12393657 12.95890028  1.3292846  15.99401521  7.26248415
  4.9243544  14.87385807 20.30914006 10.37490633 16.74103847  2.58101243
  8.61193181 16.35407975]

[1.329284599014179,
 6.099425692764356,
 10.169126515762025,
 13.437639724953796,
 20.309140055019842]

# Question 3:

In [28]:
r=pd.Series([1,2,3,4,5])
s=pd.Series([2,4,6,8,10])
t=r[~r.isin(s)]            #~operator negates the condition
t

0    1
2    3
4    5
dtype: int64

# Question 4:

In [11]:
def vowCount(st):
    vowels=['a','e','i','o','u']
    cnt=0
    for i in st:
        if i in vowels:
            cnt+=1
    if cnt>=2:
        return True
    else:
        return False
    
col=pd.Series(['Red','Green','Orange','Pink','Yellow','White'])
res=col.map(lambda st:vowCount(st))
print("initial Series:\n{}\n".format(col))
print("filtered Series:\n{}".format(col[res]))

initial Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

filtered Series:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

# Question 5:

In [12]:
df=pd.read_csv("q5.csv",index_col=0)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Micheal   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [29]:
df[df['attempts']>2]

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Micheal   20.0         3     yes