# CSE - 221710302064 -Vishnu Pulipaka

In [55]:
import pandas as pd
import numpy as np
import re

In [56]:
corpus = [
   'This is the first document.',
     'This document is the second document.',
      'And this is the third(#)  one.',
     'Is this the first document?',
     "The quick brown fox jumped over the lazy dog.",
     "John is a good boy!!!. John watches basketball",
      "We are going to the party:-)",
     "It is very cold(today)",]

## Remove all the punctuations from the corpus

In [57]:
# text cleaning

#function
def cleanText(text):
    text=re.sub('[@_!#$%^&*()<>?/\|}{~:?.-]+',' ',text) # for removing punctuation
    return text

In [58]:
# testing teh cleaning function
test='And this is the third(#)  one.'
test=cleanText(test)
test

'And this is the third   one '

In [59]:
df=pd.DataFrame(corpus)
df

                                                0
0                     This is the first document.
1           This document is the second document.
2                  And this is the third(#)  one.
3                     Is this the first document?
4   The quick brown fox jumped over the lazy dog.
5  John is a good boy!!!. John watches basketball
6                    We are going to the party:-)
7                          It is very cold(today)

## Store the sentences

In [60]:
df.iloc[:,0]=df.iloc[:,0].apply(cleanText)
df

                                               0
0                    This is the first document
1          This document is the second document
2                   And this is the third   one
3                    Is this the first document
4  The quick brown fox jumped over the lazy dog
5    John is a good boy  John watches basketball
6                     We are going to the party
7                         It is very cold today

# Store the individual words out of all sentences

In [61]:
cleanCorp=df[0].to_list()
cleanCorp
words=[j.lower() for i in cleanCorp for j in i.split()]

In [62]:
words

['this',
 'is',
 'the',
 'first',
 'document',
 'this',
 'document',
 'is',
 'the',
 'second',
 'document',
 'and',
 'this',
 'is',
 'the',
 'third',
 'one',
 'is',
 'this',
 'the',
 'first',
 'document',
 'the',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog',
 'john',
 'is',
 'a',
 'good',
 'boy',
 'john',
 'watches',
 'basketball',
 'we',
 'are',
 'going',
 'to',
 'the',
 'party',
 'it',
 'is',
 'very',
 'cold',
 'today']

## Accept the following list of words and find the unique words count from the list without using CountVectorizer and print the output as a DataFrame

In [63]:
# finding unique words
Unwords=list(set(list(words)))

In [64]:
len(Unwords)

31

In [65]:
wor=[]
cnt=[]
for w in Unwords:
    wor.append(w)
    cnt.append(words.count(w))

In [66]:
wc=pd.DataFrame(list(zip(wor,cnt)),index=range(0,len(Unwords)),columns=['word','val'])
wc

          word  val
0         john    2
1           to    1
2          are    1
3        today    1
4         good    1
5        going    1
6          fox    1
7           is    6
8        party    1
9         cold    1
10           a    1
11       brown    1
12        lazy    1
13         the    7
14          we    1
15  basketball    1
16        over    1
17         boy    1
18       third    1
19        very    1
20        this    4
21      jumped    1
22    document    4
23      second    1
24     watches    1
25         one    1
26         dog    1
27         and    1
28       quick    1
29       first    2
30          it    1