# CSE - Vishnu Pulipaka - 221710302064

In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'X1':[7,7,3,1],'X2':[7,4,4,4],'Y':['Bad','Bad','Good','Good']})
df

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good

# If k=1 nearest neighbor, what would be the classification of new paper tissue
- Calculate the distance between the query instance(3,7) and all the training samples.
- Sort the distance and determine nearest neighbor based on k
- Gather the y category of nearest neighbor and that category becomes the predicted class of query instance

In [10]:
dist=[]
x1=3
y1=7
for i in range(df.shape[0]):
    x=df.X1[i]
    y=df.X2[i]
    print(x,y)
    d=np.sqrt((x-x1)**2+(y-y1)**2)
    dist.append(d)
df["dist"]=dist

7 7
7 4
3 4
1 4

In [11]:
df

   X1  X2     Y      dist
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000
2   3   4  Good  3.000000
3   1   4  Good  3.605551

In [12]:
# sorted data frames
sortedDF=df.sort_values(by="dist",ascending=True)

In [13]:
sortedDF

   X1  X2     Y      dist
2   3   4  Good  3.000000
3   1   4  Good  3.605551
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000

In [17]:
# Y category of the nearest neighbor (k=1) is "GOOD"
sortedDF.iloc[0,:]

X1         3
X2         4
Y       Good
dist       3
Name: 2, dtype: object

# If k=3 nearest neighbors, what would be the classification of new paper tissue
- Calculate the distance between the query instance(3,7) and all the training samples.
- Sort the distance and determine nearest neighbors based on k
- Gather the y category of nearest neighbors and use simple majority of the  category of nearest neighbors as the predicted value of query instance

In [20]:
# for k = 3
sortedDF.iloc[:3,:]

   X1  X2     Y      dist
2   3   4  Good  3.000000
3   1   4  Good  3.605551
0   7   7   Bad  4.000000

In [ ]:
# list of categories= [good,good,bad] for nearset 3 distances
# GOOD is the majority category
# conclusion : (3,7) is also classified as "GOOD"