# CSE-VishnuPulipaka-221710302064
### class log

# tuples
1. ordered
2. indexed
3. immutable

In [1]:
# tuple
tup1=(12,3,345,"abc",True)
print(type(tup1))

<class 'tuple'>

In [3]:
print(tup1[2])
print(tup1[-1])

345
True

In [5]:
l1=list(tup1)  #type conversion
l1[2]=100
tup1=tuple(l1)
tup1

(12, 3, 100, 'abc', True)

### built-in methods:
1. count()
2. index()

In [7]:
print(tup1.count(12))
print(tup1.index(12))

1
0

In [8]:
#unpacking
t2=(12,233,3445)
a,b,c=t2
print(c)

3445

In [9]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [13]:
#tuple with single element
t2=tuple([10])
print(type(t2))

#or

t3=(10,)
print(type(t3))

<class 'tuple'>
<class 'tuple'>

In [14]:
for i in x:
    print(i)  # iterating on tuple

10
20
30

## Sets:
1. {}
2. Does not allow duplicate values
3. not ordered
4. unindexed
5. mutable

In [16]:
s1={1,2,3,4,5,6,5,4,3,2,1}

for i in s1:
    print(i,end=' ')

1 2 3 4 5 6

### Built-in functions
1. len()
2. min()
3. max()
4. set()

In [18]:
print(s1)
print(len(s1))
print(min(s1))
print(max(s1))

{1, 2, 3, 4, 5, 6}
6
1
6

In [19]:
#removing duplicates from a list:
l3=[23,45,6,777,66,23,45,6,777]
l3=list(set(l3))
l3

[66, 6, 777, 45, 23]

### Built-in methods:
1. add()  #adding element
#### removing elements
2. pop()
3. remove()
4. discard()
5. clear()

In [23]:
set2=set()
set2.add(12)
set2.add(23)
set2.add(99)
set2

{12, 23, 99}

In [24]:
set2.pop()

99

In [27]:
set2.remove(23)
set2
set2.discard(12)
set2
set2.clear()
set2

set()

In [28]:
# union,difference,intersection,subset,super set,disjoint
#symmetric difference
A={1,2,3,4,5}
B={3,4,5,6,7}

#union AUB ==>{1,2,3,4,5,6,7}
print(A.union(B))

#difference A-B==>{1,2}
#B-A ==>{6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A

#intersection A and B==>{3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [29]:
#subset,super set,disjoint
#symmetric difference
C=[i for i in range(11)]
C=set(C)
print(A.issubset(C)) #True
print(C.issuperset(B))#True
print(A.issubset(B))#False

True
True
False

In [33]:
#disjoint
X={1,2}
Y={23,45,34}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

#symmetric difference:
print(A.symmetric_difference(B))

print(A)
print(B)

False
True
{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
{1, 2, 6, 7}

In [34]:
A.update(B) #A=A union B
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [35]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [37]:
A.difference_update(B)
A

set()

### Dictionary:
1. key-value pairs

keys:
1. keys should be unique
2. keys should be immutable (example:numerics,string,tuple)

In [38]:
d={"name":"Vishnu","id":221710302064,"loc":"Hyd"}
d

{'name': 'Vishnu', 'id': 221710302064, 'loc': 'Hyd'}

In [39]:
#extracting element
print(d['id'])

221710302064

In [42]:
#removing an entry
d['loc']='chennai'# adding an entry
del d['loc']
print(d)

{'name': 'Vishnu', 'id': 221710302064}

### Built-in methods:
1. keys()
2. items()
3. values()
4. get()
5. update()
6. pop()
7. popitem()

In [44]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'id'])
dict_values(['Vishnu', 221710302064])
dict_items([('name', 'Vishnu'), ('id', 221710302064)])

In [45]:
print(d.get('id'))   #buil-int method for extracting element

221710302064

In [47]:
#update
d2={'branch':"CS",'year':'3'}
d.update(d2)
d

{'name': 'Vishnu', 'id': 221710302064, 'branch': 'CS', 'year': '3'}

In [49]:
#pop and #popitem:
d.pop('year')   #specific item

d.popitem()    #last entry removed
d

{'name': 'Vishnu', 'id': 221710302064}

In [51]:
a='A'
b='b'
a+b

'Ab'